#app{
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 100%;
}
.home{
    position: relative;
}
/* 
搜索
 */
.page{
width: 100%;
height: 100%;

}
.head{
    height: 43.4121px;
    width: 100%;
    padding: 0 14.8px;
    position: fixed;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}
.head .head-address {
    width: 57.72px;
    height: 27.6279px;
    border-radius: 17.2679px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0,.3);
    border: 0.027rem solid hsla(0,0%,88%,.3);
    align-items: center;
}
.head .head-search {
    width: 234.8279px;
    height: 27.6279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 0.027rem solid hsla(0,0%,88%,.2);
    background-color: rgba(0,0,0,.2);
    border-radius: 19.7321px;
    margin-left: 3.9479px;
}

.head .head-space{
    width: 26.64px;
    height: 24.6679px;
}
.head .head-address, .head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.head .head-address__icon {
    width: 10.8521px;
    height: 12.8279px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAaCAMAAACEqFxyAAAAXVBMVEUAAAD+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7+/v7ro0NvAAAAHnRSTlMA+eslChdO2MS2h29oVjqAdu/e27qvpYxbQi0HAUsWcjORAAAAt0lEQVQoz2WR2Q6EMAhFEetarbuOy/D/nzkRadHxvBBOGugNcJG0IxLh2CagmCUiIVqMt3FGN7JYLNIDZG/krZKdc0p6UQIksq23ztle9iZgiZkMD5yIsVBwHYx8deC2AORagVBdnwFiNq83YkTHIZrojkvtdc1tBznX/LjsIS00IQFotsYPo8LtuysorJrpxXxeAP8t8i3W6GmjFZj2qRtNfKOCQKq3TNWq57hv/1GjXq3yRdQJP70QJWgxEHBwAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
strong {
    font-weight: normal;
}
.head .head-address__name {
    width: 32.0679px;
    font-size: 14.8px;
    color: #fefefe;
    font-weight: 700;
    margin-left: 2.96px;
}
.text-double, .text-single {
    overflow: hidden;
    text-overflow: ellipsis;
}
.head .head-search__img {
    width: 19.7321px;
    height: 19.7321px;
    margin-left: 10.8521px;
    margin-right: 4.9321px;
}

.head .head-search__lab{
    font-size: 12.8279px;
    color: #fefefe;
}
.head .head-space__block{
    display: block;
    width: 100%;
    height: 100%;
}
#root{
    height: 100%;
}
/* 搜索 */