<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            width: 100px;
            height: 100px;
            background: #FFcccc;
            margin-bottom: 10px;
        }
        .one:active{
            background: #FFcccc;
        }
    </style>
</head>
<body>
<a class="one">1</a>
<a class="one">2</a>
<a class="one">3</a>
<a class="one">4</a>
<script>
    let Divs =document.getElementsByTagName("div");
    for (let i=0;i<Divs.length;i++){
        Divs[i].onclick=function () {
            for (let i=0;i<Divs.length;i++){
                if(Divs[i].style.backgroundColor==="red"){
                    Divs[i].style.backgroundColor="pink"
                }
            }
            Divs[i].style.backgroundColor ="red"
        }
    }

</script>
</body>
</html>